.app-navbar {
  width: 100%;
  /* background-color: var(--twitter-light-grey); */
  background-color: var(--twitter-dark-grey);
}

.navbar-btn {
    width: 150px;
}

.twitter-navbar-logo {
  width: 30px;
  height: 30px;
}

@media (min-width: 1024px), only screen and (min-device-width : 1024px) {
  .app-navbar {
    height: 80px;
  }

  #responsive-navbar-nav {
    flex-flow: row-reverse;
  }  
}